h1 {
    color: brown;
}

.header{
    background-color: rgb(149, 235, 195);
    border: black;
    text-align: center;
}

.subheader{
    background-color: rgb(149, 235, 195);
    font-size: 22px;
    
}

.holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid;
    border-color: darkgrey;
}

.socialMedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
}

body{
    background-color: darkgrey;
}